auto-install-peers=true

@tiptap-pro:registry=https://registry.tiptap.dev/
//registry.tiptap.dev/:_authToken=${TIPTAP_PRO_TOKEN}
# Fork openent (GitHub Packages)
@open-ent:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}
//registry.npmjs.org/:_authToken=${NPM_TOKEN}
